<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
	<listeners>
		<listener class-name="utilities.TestListener" />
		<listener class-name="utilities.AnnotationTransformer" />
		<listener class-name="utilities.ExtentReporterNG" />
	</listeners>
	<test name="TestOrangeHRMPIM">
		<classes>
			<class name="testscripts.TestOrangeHrmPim" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
